player-connection-mode=Listen
player-connection-guid=579743009
player-connection-debug=1
player-connection-project-name=Chemistry Party
player-connection-ip=192.168.1.103
player-connection-ip=172.28.48.1
player-connection-ip=192.168.48.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=85abcf5245aa4c9494e3d0ba34534b23
